{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
        <script src="https://unpkg.com/vue-chartjs/dist/vue-chartjs.min.js"></script>
        <link rel="stylesheet" href="{% static 'css/info.css' %}">
    </head>
    <body>
        <h3>Details of Keycode : " http://127.0.0.1:8000/{{ keycode }} " </h3>
        <h3>Keycode of "{{data.url}}"</h3>
        <h3>Total number of hits : {{ infos.count }}</h3>
        
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <table>
                        <tr>
                          <th>Datetime</th>
                          <th>IP</th>
                          <th>Country</th>
                        </tr>
                        {% for i in infos %}
                        <tr>
                            <td>{{i.url_hit_time}}</td>
                            <td>{{i.ip_address}}</td>
                            <td>{{i.country}}</td>
                        </tr>
                       {% endfor %}

                    <!-- <br/>{{infos.0.url_hit_time}} -->
                    </table>    
                </div>
            </div>
        </div>

    </body>
</html>